.tools-section {
    padding: 60px 20px;
    background-color: var(--bg-color);
     position: relative;
  }

  .booth-anchor {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 20;
}
  
  .tools-title {
    text-align: center;
    color: var(--primary-color);
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 40px;
  }
  
  .tools-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 60px;
  max-width: 1200px;
  margin: 0 auto;
  align-items: stretch;
}

  
.tool-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px 10px 0px 30px;
  border-radius: 16px;
  background-color: var(--card-bg);
  color: var(--text-color);
  transition: transform 0.2s ease;
  transition: box-shadow 0.2s ease;
}

  
  .tool-card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .tool-card-description {
    font-size: 14px;
    line-height: 1.6;
    color: var(--text-color-secondary);
  }

  .tool-card-link {
  text-decoration: none;
  display: block;
  transition: transform 0.2s ease;
}

.tool-card-link:hover {
  transform: translateY(-5px); 
  cursor: pointer;
}

.tool-card-link:hover .tool-card {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); 
}


  @media (max-width: 1024px) {
  .tools-section {
    padding: 40px 15px;
  }

  .tools-title {
    font-size: 26px;
  }

  .tool-card {
    padding: 25px;
  }
}

@media (max-width: 768px) {
  .tools-title {
    font-size: 22px;
    margin-bottom: 30px;
  }

  .tool-card {
    padding: 20px;
  }

  .tool-card-title {
    font-size: 16px;
  }

  .tool-card-description {
    font-size: 13px;
  }
}

@media (max-width: 480px) {
  .tools-grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .tools-title {
    font-size: 20px;
  }

  .tool-card {
    padding: 15px;
  }

  .tool-card-title {
    font-size: 14px;
  }

  .tool-card-description {
    font-size: 12px;
  }
}
