.bw-header {
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 2rem;
    box-sizing: border-box;
    margin: 0;
  }

  .bw-header .logo .logo-highlight {
    font-size: 1.8rem;
    font-weight: bold;
    color: #FFC107;
    line-height: 1;
    margin: 0;
    padding: 0; 
    display: inline-block;
    margin-left: 1rem; 
  }
  
  .bw-header .nav-menu ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
  }
  
  .bw-header .nav-menu ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .bw-header .nav-menu ul li a:hover {
    color: #FFC107;
  }
  
  .bw-header .nav-menu ul li a.active {
    color: #FFC107;
  }
  
  
  @media (max-width: 768px) {
    .bw-header {
      flex-direction: column;
      align-items: flex-start;
      padding: 0.8rem 1rem; 
    }
  
    .nav-menu ul {
      flex-direction: column;
      width: 100%;
      gap: 0.8rem;
      margin-top: 0.5rem;
    }
  
    .nav-menu a {
      font-size: 1rem;
      width: 100%;
      display: block;
    }
  }
